<ion-view title="<span style='color:white'>MADA</span>" id="page4">
  <ion-content class="has-header">
    <div class="childContainer_11">
      <div style="height: 10vh;"></div>
    </div>
    <div class="list">
      <div class="item item-divider">
        {{topic.question}}
      </div>
    </div>
    <div class="card">
      <ion-list ng-repeat="option in ques">
          <ion-radio ng-value="option" class="item-text-wrap" ng-model="a1.tempat" ng-value="option.id" ng-click="enabled()">{{option.response}}</ion-radio>
      </ion-list>
    </div>
   
  </ion-content>
  <!--  <div class="bar bar-footer">
  <div ng-class="buttonClass" ng-click="savebhgA()">
    <div class="title" style="color :white">Seterusnya</div>
    <a class="button button-icon icon ion-forward" style="color: white" disabled></a>
  </div>
</div> -->
  <ion-footer-bar align-title="center" class="bar-assertive">
          <div ng-class="buttonClass" ng-click="savebhgA()">
    <div class="title" style="color :white">Seterusnya</div>
    <a class="button button-icon icon ion-forward" style="color: white" disabled></a>
  </div>

  </ion-footer-bar>
</ion-view>
