<ion-view title="<span style='color:white'>MADA</span>"   id="page4" >
    <ion-content class="has-header">

     <div class="childContainer_15">
            <div style="height: 10vh;"></div>
        </div>
        <div class="list">
            <div class="item item-divider">
                KENYATAAN</div>
        </div>
        <form class="list"  style="margin-top:  -3vh">
            <div class="card" ng-repeat="item in kenyataan" ng-click="marks(item)">
                <div class="item item-text-wrap">
                    <a class="item">
                        <h2>{{item.soalan}}</h2>
                        <p>Maklumbalas: {{item.mark}}</p>
                    </a>
                </div>
            </div>

        </form>
<div style="height: 5vh"></div>
    </ion-content>
     <div ng-class="buttonClass" ng-click="next()">
        <div class="title" style="color :white">Seterusnya</div>
        <a class="button button-icon icon ion-forward" style="color: white"></a>
    </div>
</ion-view>
