<ion-view title="<span style='color:white'>MADA</span>" id="page10">
    <ion-content class="has-header">
        <div class="childContainer_17">
            <div style="height: 10vh;"></div>
        </div>
        <ion-list id="textarea-list3">
        </ion-list>
        <div class="card">
            <div class="item item-text-wrap">
                <h2 id="textarea-list-item10" class="font-style-saira">{{bhgG.soalan[0].question}}</h2>
                <form id="textarea-form11" class="list">
                    <div style="height: 3vh"></div>
                    <div class="item item-divider">
                        Keterangan pandangan
                    </div>
                    <label class="item item-input item-stacked-label" id="textarea-textarea1">
                        <textarea rows="20" ng-model="bhgG.desc" placeholder="" ng-change="enabled(bhgG.desc.length)"></textarea>
                    </label>
                </form>
            </div>
        </div>
    </ion-content>
    <div ng-class="buttonClass" ng-click="saveBhgG()">
        <div class="title" style="color :white">Hantar</div>
    </div>
</ion-view>