<ion-view title="<span style='color:white'>Statistik</span>" id="page2">
  <ion-content class="has-header" ng-controller="homeCtrl">
    <div class="childContainer_chart">
      <div style="height: 10vh;"></div>
    </div>
    <!-- <label class="item item-input item-select">
      <div class="input-label">
        Bahagian
      </div>
      <select style="width: 100%;" ng-model="select.bhg" ng-change="chartView()">
        <option ng-repeat="option in bahagian track by $index" ng-value="option.type">{{option.bhg}}</option>
      </select>
    </label> -->
    <a class="item item-icon-right item-text-wrap" ng-click="popup()">
    <i class="icon ion-more"></i>
      {{bahagianSoalan}}
    </a>
    <div ng-show="showChart">
      <div class="card">
        <div class="item item-text-wrap">
          Tahap Peratusan Kepuasan: <strong>{{peratus}}%</strong>
        </div>
      </div>
      <canvas style="height: 30vh;width: 55vw;" id="pie" class="chart chart-pie" chart-data="data" chart-labels="labels" chart-colors="colours" chart-options="options">
      </canvas>
    </div>
    <div ng-show="showBhgA">
      <ion-list>
        <!-- <div class="item item-divider">
          Bahagian A: Maklumat Asas Responden
        </div> -->
        <ion-item ng-repeat="(key, val) in dataFactory track by key">
          <div class="item item-divider">
            {{val.ques}}
          </div>
          <div class="item item-text-wrap">
            <pre class="font-style-saira">{{val.ans}}</pre>
           <!--  <p ng-if="val.ques == 'Kumpulan Gred'"> {{val.gred}}</p> -->
          </div>
        </ion-item>
      </ion-list>
    </div>
    <div ng-show="showBhgG">
      <div class="card">
        <div class="item item-text-wrap">
          <p style="font-style:italic;">Pandangan anda tentang Diari MADA yang diterbitkan, dan cadangan anda untuk penambahbaikan Diari Mada 2018 yang akan datang.</p>
          <br/> <pre>{{dataFactory}}</pre>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
