<ion-view title="<span style='color:white'>Laman Utama</span>" hide-back-button="true" id="page1" class="home">
  <ion-content class="has-header" scroll=false>
    <div id="container">
      <div class="childContainer_1">
        <div style="height: 10vh;"></div>
        <img src="img/mada-logo.png" style="display: block; max-width: 25%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <div class="childContainer_2">
        <div class="card" style="position: absolute;margin-top: -8%;width: 90vw;   left: 18vw;
  margin-left: -13vw;height: 20vh">
          <div class="item item-text-wrap">
            <span class="font-style-saira" ><p style="text-align: center;">{{text.text}}</p></span>
          </div>
        </div>
        <div style="position: absolute;z-index: 2;left: 30vw;margin-left: -4vw;margin-top : 13.5vh;">
          <button ng-click="start()" id="home-button1" style="width: 50vw;border-radius: 30px;background: linear-gradient(59deg, #3176d6, #6a9ce2);" class="button ">
            <span style="color: white" ng-show="bool">{{text.button}}</span>
            <span ng-show="!bool"><i class="fa fa-circle-o-notch fa-spin" style="color: white"></i></span>
          </button>
          <br/>
          <hr>
          <center>Development Purpose</center>
          <hr>
          <button ng-click="clear()" id="home-button1" style="width: 50vw;border-radius: 30px;background: linear-gradient(59deg, #3176d6, #6a9ce2);" class="button ">
            <span style="color: white">Clear Data</span>
          </button>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
