<ion-view title="Keperluan" hide-back-button="true" id="page6">
    <ion-content padding="true" class="has-header">
        <form id="input-form6" class="list">
            <h4 id="input-list-item6">Sila masukkan keperluan pembantu yang anda perlukan :</h4>
            <div class="spacer" style="width: 300px; height: 47px;"></div>
            <label class="item item-input item-floating-label" id="input-input5">
                <span class="input-label">Ruangan</span>
                <input type="text" placeholder="">
            </label>
            <label class="item item-input" id="input-input3">
                <span class="input-label">Jumlah Tenaga Kerja</span>
                <input type="number" placeholder="">
            </label>
<!--             <label class="item item-input item-stacked-label" id="input-input6">
                <span class="input-label">Jumlah Tenaga Kerja</span>
                <input type="tel" placeholder="">
            </label>
            <label class="item item-input item-stacked-label" id="input-input7">
                <span class="input-label">Date</span>
                <input type="date" placeholder="">
            </label>
 -->
             <label class="item item-input" id="input-input7">
                <span class="input-label">Tarikh Diperlukan</span>
                <input type="date" placeholder="">
            </label>
            <label class="item item-input" id="input-input8">
                <span class="input-label">Bulan paling sibuk</span>
                <input type="month" placeholder="">
            </label>
            <label class="item item-input" id="input-input9">
                <span class="input-label">Masa rehat paling sesuai</span>
                <input type="time" placeholder="">
            </label>
        </form>
        <div class="row">
            <div class="col">
                <a ui-sref="checkbox" id="input-button48" class="button button-assertive  button-block">Kembali</a>
            </div>
            <div class="col">
                <a ui-sref="range" id="input-button47" class="button button-balanced  button-block">Seterusnya</a>
            </div>
        </div>
    </ion-content>
</ion-view>
