<!-- center kan view -->
<ion-view title="<span style='color:white'>Terima Kasih</span>" hide-back-button="true" class="background-summary">
    <ion-content padding="true" class="has-header">
       
    </ion-content>
    <div style="text-align: center;">
        <div class="row" style="position: absolute; bottom: 0px !important; width: 100%">
            <div class="col">
                <a ng-click="clearData()" class="button  your-sample-class2  button-block"  style="border-radius: 40px;color: white">Selesai</a>
            </div>
            <div class="col">
                <a ui-sref="chart" class="button  your-sample-class button-block"  style="border-radius: 40px;color: white">Lihat Statistik</a>
            </div>
        </div>
    </div>
</ion-view>
