/* Empty. Add your own CSS if you like */

.no-padding {
  padding: 0px !important;
}

.popup-class {
  width: 100% !important;
}

.background {
  background-image: url('../img/bg1.jpg');
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat;
}


.background2 {
  background-image: url('../img/bg4.jpg');
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat;
}

.background-summary {
  background-image: url('../img/bg-summary.jpg');
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat;
}

.background-summary2 {
  background-image: url('../img/bg-summary2.jpg');
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat;
}

.item {
  /* border-style: none !important;*/
}

.card .list .item {
  border-bottom: 1px solid grey;
}

#container {
  width: 100%;
  height: 100vh
}

#three-box-layout {
  display: flex;
  display: -ms-flex;
  display: -webkit-flexbox;
  display: -moz-flex;
  height: 100%;
  -ms-flex-direction: column;
  -webkit-flex-direction: column
}

.shuffle-box {}

#box-a {
  background-color: #f601ff;
  -ms-flex-order: 1;
  -webkit-flex-order: 1;
  margin-right: 30%;
}

#box-b {
  -ms-flex: 3;
  -webkit-flex: 3;
  -moz-flex: 3;
  flex: 3;

  background-color: #37fe02;
  margin-right: 30%;
}

#three-box-layout #box-c {
  -ms-flex: 3;
  -webkit-flex: 3;
  -moz-flex: 3;
  flex: 3;

  background-color: #02effe;

  margin-left: 70%;
  float: right;
}

.childContainer_1 {
  background-image: url('../img/cover.jpg');
  background-position: center top;
  background-size: 100%;
  background-repeat: no-repeat;
  height: 50vh;
}

.childContainer_11 {
  background-image: url('../img/cover2.jpg');
  background-position: center top;
  background-size: 100%;
  background-repeat: no-repeat;
  height: 31vh;
}


.childContainer_12 {
  background-image: url('../img/cover3.jpg');
  background-position: center top;
  background-size: 100%;
  background-repeat: no-repeat;
  height: 31vh;
}

.childContainer_13 {
  background-image: url('../img/cover4.jpg');
  background-position: center top;
  background-size: 100%;
  background-repeat: no-repeat;
  height: 31vh;
}

.childContainer_14 {
  background-image: url('../img/cover5.jpg');
  background-position: center top;
  background-size: 100%;
  background-repeat: no-repeat;
  height: 31vh;
  width: 100vw;
}

.childContainer_15 {
  background-image: url('../img/cover6.jpg');
  background-position: center top;
  background-size: 100%;
  background-repeat: no-repeat;
  height: 31vh;
}

.childContainer_16 {
  background-image: url('../img/cover7.jpg');
  background-position: center top;
  background-size: 100%;
  background-repeat: no-repeat;
  height: 31vh;
}

.childContainer_17 {
  background-image: url('../img/cover8.jpg');
  background-position: center top;
  background-size: 100%;
  background-repeat: no-repeat;
  height: 31vh;
}

.childContainer_chart {
  background-image: url('../img/cover_chart.jpg');
  background-position: center top;
  background-size: contain;
  background-repeat: no-repeat;
  height: 31vh;
}

.cover {
  margin-top: -7vh;
  background-image: url('../img/gender.jpg');
  background-position: center top;
  background-size: contain;
  background-repeat: no-repeat;
  height: 31vh;
}

.childContainer_2 {
  background-color: white;
  height: 50vh;
}

.toolbar-background {
  background-color: blue;
}

.your-sample-class {
  background: linear-gradient(59deg, #3176d6, #6a9ce2);
}




.your-sample-class2 {
  background: #3176d6;
  /*rgba(73,155,234,1);*/
}


body {
  cursor: url('https://ionicframework.com/img/finger.png'), auto;
}

.icon {
  font-size: 35px !important;
}

.font-style-saira {
  font-family: 'Saira Semi Condensed', sans-serif;
}

.disabled {
  background: linear-gradient(59deg, #595959, #999999);
}

.spinner svg {
  width: 100px;
  height: 100px;
  stroke: #3176d6;
  fill: #3176d6;
}

.spinner .spinner-dots svg{
  stroke: #3176d6;
  fill: #fff;
}

